.nav {
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100vw;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translate(0px, -70px);
    transition: $transition;
    #nav-container {
        // background-color: #000;
        width: 780px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #nav-title {
            // background-color: red;
            font: bold 20px/20px Arial, sans-serif;
            color: #20243c;
            text-transform: uppercase;
            
        }
        .nav-icons {
            // background-color: blue;
            display: flex;
            .nav-square {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin: 5px;
                border-radius: 12px;
                text-decoration: none;
                transform:translate(0px, 0px);
                transition: all 0.3s ease-out;
                .nav-inner-square {
                    width: 44px;
                    height: 44px;
                    margin: 3px;
                    background-color: hsla(0, 0%, 0%, 0.1);
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-out;
                    .nav-square-text {
                        font: bold 18px/17px Arial, sans-serif;
                        color: hsla(0, 100%, 100%, 1);
                    }
                }
                .selected-1 {
                    width: 50px;
                    height: 50px;
                    margin: 0;
                }
            }
            
            .selected {
                transform: translate(0px, 4px);
            }
            a.nav-square:nth-child(1) {
                background-color: $s1;
            }
            a.nav-square:nth-child(2) {
                background-color: $s2;
            }
            a.nav-square:nth-child(3) {
                background-color: $s3;
            }
        }
    }
}
.active-nav {
transform: translate(0px, 0px);
}