// https: //www.youtube.com/watch?v=Zz6eOVaaelI&ab_channel=DevEd


@import './variables';
@import './mixins';
@import './nav';
@import './header';
@import './main';
@import './footer';

html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bg;
    }

